/* Setting the background color */
body{
  background-color:black;
  
}
/* Styling the table header */
th{
  color: aqua;
  font-family: monospace;
  font-size: 2rem;
}

/* Styling buttons */
button{
  margin: 0.6rem;
  text-align: center;
  padding: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  background-color: aqua;
  border-radius: 10px; 
  color: #FF0000; 
}

/* Styling the display bar */
#result{
  display: inline-block;
  background-color: white;
  height:4rem;
  width: 20rem;
  font-size: 2rem;
  font-family: monospace;
  color: #FF0000;
}

/* Styling the equal sign */
.equalSign{
  background-color: #FF0000;
  color:aqua;
}

